body {
    margin: 0px;
    background-color: black;
    background-image: url('https://www.csgowallpapers.com/assets/images/original_compressed/csgowallpaper_207536990031_1566431947_134657136861.png');
}

.Wrapper {
    height: 100vh;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 60px auto 60px;
}
.Header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.Content {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
}
  
.Footer {
    background-color: black;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.shopItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    margin: 10px;
    overflow-y: scroll;
    gap: 10px;
}
.shopItems::-webkit-scrollbar { 
    display: none; 
}
.shopItem {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.800);
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    grid-template-rows: 1fr;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    user-select: none;
}
.shopItem:hover {
    cursor: pointer;
    color: white;
    background-size: cover;
    -moz-box-shadow:    inset 0 0 10px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
    box-shadow:         inset 0 0 10px rgba(255, 0, 0, 0.5);
}
.selectedItem {
    margin: 10px;
    display: grid;
    grid-template-rows: auto 50px 200px 50px;
    gap: 10px;
}
.productImage {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);

}
.Name {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
}
.Desc {
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    padding: 10px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.Desc::-webkit-scrollbar { 
    display: none; 
}
.addToCart {
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
}
.addToCart:hover {
    cursor: pointer;
}

.cartPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px;
    margin: 10px;
    gap: 10px;
    overflow: hidden;
}

.totalPrice {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
    justify-content: center;
    align-items: center;
}
.cartItems {
    display: grid;
    grid-auto-rows: 55px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
}
.cartItems::-webkit-scrollbar { 
    display: none; 
}
.cartItem {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
}
.cartItem:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3);
}
.Checkout {
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pImage {
    width: 50px;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.Namef {
    margin-right: 10px;
}

.btnRemove {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.btnRemove:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.btnMenu {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
    border: none;
    cursor: pointer;
    outline: none;
    border: solid rgba(44, 44, 44, 0.5) 1px;
    padding: 5px;
}
.hover:hover {
    color: red;
}

.Filters {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    height: 400px;
    width: 400px;
    border: solid rgba(44, 44, 44, 0.5) 1px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  

.filterSet {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
    outline: none;
    border: solid rgba(44, 44, 44, 0.5) 1px;
    padding: 5px;
}

.redd {
    background-color: red;
    cursor: pointer;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}


.Logo {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}